		/* CUSTOMIZE THE CAROUSEL

		/* Carousel base class */
		<!--	.carousel {
		  height: 400px;
		  margin-top: 0;
		}
		/* Since positioning the image, we need to help out the caption */
		.carousel-caption {
		  z-index: 10;
		}

		/* Declare heights because of positioning of img element */
		.carousel .item {
		  height: 400px;
		  background-color: #777;
		}
		.carousel-inner > .item > img {
		  position: absolute;
		  top: 0;
		  left: 0;
		  min-width: 100%;
		  height: 400px;
		}
		-->
		body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { 
			font-family: Microsoft YaHei,'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
		}
	
		.navbar {	
		  height: 50px;
		}
		.navbar-brand{
		color:red;
		font-size:30px;
		}
		.navtitle{
		font-size:15px;
		color:red;
		padding:0px;
		}
	body {
	  padding-top: 50px;
	  padding-bottom: 20px;
	}
	.jumbotron {
		color: #fff;  
		height:400px;
		margin-top: 0px;
		text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
		filter:alpha(opacity=50);
		background-image:url('8c1001e93901213fcf797e3255e736d12e2e9591.jpg');
		background-repeat:no-repeat;
		background-position: center;
		background-size: 100%;
	}	

		.bgstyle { 
			background: rgba(0, 0, 60, 0.0) none repeat scroll 0 0 !important;
		
		} 
		.footer {
		margin-top: 10;
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  height: 60px;
	  background-color: #f5f5f5;
	}
	